<div class=" about-container py-5">
    <div class="text-center mb-5">
    <h1 class="display-4 fw-bold text-success">Motivator</h1>
    <p class="lead text secondary">理想の身体へ、仲間と共に。挫折を仕組みで解決するSNS。</p>
    <hr class="my-4 mx-auto" style="width: 100px; border-top: 3px solid #198754;">
</div>

<div class="eow justify content-center mb-5">
    <div class="col-md-8">
        <div class="card shadow-sm border-0 bg-light p-4">
            <h2 class="h4 mb-3 border-bottom pb-2">なぜMotivatorなのか？<h2>
            <p class="text-muted">
                「一人だとモチベーションが続かない」「成長を実感しにくい」...<br>
                そんな筋トレ初心者の悩みを解決するために、自分の身体の変化を写真でアーカイブし、
                誹謗中傷のない<strong>「安全なコミュニティ」</strong>で励まし合える場所を作りました。
            </p>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-4 mb-4">
        <div class="p-3">
            <div class="bg-success text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                <i class="fas fa-camera fa-lg"></i>
            </div>
            <h5>視覚的な成長</h5>
            <p class="small text-secondary">数ヶ月前の自分と今の自分を比較。変化が目に見えるから続けられる。</p>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="p-3">
            <div class="bg-success text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                <i class="fa-solid fa-heart"></i>
            </div>
            <h5>安心の交流</h5>
            <p class="small text-secondary">攻撃的なコメントを気にせず、純粋に励まし合える暖かい場所</p>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="p-3">
            <div class="bg-success text-white rounded-circle d-inline-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                <i class="fa-regular fa-calendar"></i>
            </div>
            <h5>習慣化のサポート</h5>
        <p class="small text-secondary">カレンダー機能でトレーニングを予約。自分との約束を忘れさせない。</p>
        </div>
    </div>
    <div class="text-center mt-5">
        <%= link_to "さっそく記録を始める", new_user_registration_path, class: "btn btn-success btn-lg px-5 shadow" %>
    </div>
</div>